.product-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 10px;
    column-gap: 10px;
    padding: 10px;
    box-sizing: border-box; /* Ensure padding is included in the element's total width */
}
.header-search{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
}
.header-search select ,input{
    height: 30px;
    width: 200px;
    border: 0.2px solid lightgray;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 5px;

}
.all{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
}
.main-prd-lst{
    display: flex;
    flex-direction: column;
    padding: 5px;
    box-sizing: border-box;
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
   
   
}
.title{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 1px;
}
.price{
     font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    font-size: 14px;
   color: rgb(69, 64, 66);
}
.product-card p {
    margin: 5px 0; /* Adjust the margin to control spacing between p tags */
}
.shows{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-size: 14px;
    letter-spacing: 1px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(37, 32, 32);
}
.buttons{

    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    cursor: pointer;
}
.active{
font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
}
.prd-images-main {
    width: 100%;
    height: 300px;
    object-fit: contain;
    background-color: lightgray;
    border-radius: 5px;
}
.pre{
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
}
.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

@media (max-width: 768px) {
    .product-list {
        grid-template-columns: repeat(2, 1fr);
    }
    .all{
        display: none;
    }
    .header-search{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
}
.header-search select ,input{
    height: 30px;
    width: 150px;
    border: 0.2px solid lightgray;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 5px;

}
}
.product-card p{
    font-family: 'Times New Roman', Times, serif;
}
.product-card button{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 100%;
    height: 35px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    border: 0.2px solid lightgray
}